
body {
    margin: 0;
    font-family: Arial, sans-serif;
    background: linear-gradient(to bottom, #fffcf5, #fff0d2);
    color: #2e1e00;
}

header {
    background-color: #e97d22;
    color: white;
    padding: 20px;
    text-align: center;
}

.anuncio {
    background-color: #ffcc00;
    padding: 20px;
    text-align: center;
    font-size: 1.2rem;
}

.comprar {
    text-align: center;
    padding: 30px;
}

.comprar input {
    padding: 10px;
    font-size: 1rem;
    margin-bottom: 15px;
    width: 80%;
    max-width: 300px;
}

.comprar button {
    background-color: #007f5f;
    color: white;
    padding: 15px 30px;
    font-size: 1rem;
    border: none;
    cursor: pointer;
    border-radius: 8px;
}

.comprar button:hover {
    background-color: #00593b;
}

footer {
    background-color: #222;
    color: #ccc;
    padding: 20px;
    text-align: center;
    font-size: 0.9rem;
}
